{% extends "shared/_layout.html" %}
{% block title %}About Pete Potipitak{% endblock %}

{% block main_content %}

    <div class="mega-card about-mega">
        <div class="intro">
            <h2>About me</h2>
        </div>
    </div>
    <div class="divider"></div>

    <div class="left-display">
        <div class="row">
            <div class="col-md-7">
                <div class="left-picture"></div>
            </div>
            <div class="col-md-5">
                <div class="right-text">I am words. words that have wisdom and stuff. i dunno.</div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container">
        <h2 class="section_title">My Skills</h2>
        <div class="skills">
            <div class="row">
                <div class="col-md-6 skills-list">
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div class="col-md-6 skills-list">
                    <ul>
                        <li>HTML/CSS</li>
                        <li>Java</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="right-display">
        <div class="row">
            <div class="col-md-5">
                <div class="text-box">
                    <div class="left-text">I am words. words that have wisdom and stuff. i dunno.</div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="right-picture"></div>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <div class="end-page"></div>
{% endblock %}