{% extends "shared/_layout.html" %}
{% block title %}About Pete Potipitak{% endblock %}

{% block main_content %}

    <div class="mega-card about-mega">
        <div class="intro">
            <h2>About me</h2>
        </div>
    </div>
    <div class="divider"></div>
    <div class="container">

        <div class="row skills">
            <h2 class="section_title">My Skills</h2>
            <div class="col-md-6 skills-list">
                <ul>
                    <li>Python</li>
                    <li>C++</li>
                </ul>
            </div>
            <div class="col-md-6 skills-list">
                <ul>
                    <li>HTML/CSS</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <div class="end-page"></div>
{% endblock %}