{% extends "shared/_layout.html" %}
{% block title %}About Pete Potipitak{% endblock %}

{% block main_content %}

    <div class="mega-card about-mega">
        <div class="intro">
            <h2>About me</h2>
        </div>
    </div>
    <div class="divider"></div>

    <div class="left-display">
        <div class="row">
            <div class="col-md-7">
                <div class="left-picture" style="background-image: url(/static/img/about/picture1.jpg)"></div>
            </div>
            <div class="col-md-5">
                <div class="right-text">My name is Pete Potipitak. I'm Thai and I live in Southern California. I like coding and sushi.</div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container">
        <h2 class="section_title">My Skills</h2>
        <div class="skills">
            <div class="row">
                <div class="col-md-6 skills-list">
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div class="col-md-6 skills-list">
                    <ul>
                        <li>HTML/CSS</li>
                        <li>Java</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="right-display">
        <div class="row">
            <div class="col-md-5">
                <div class="left-text">Pictures from unsplash, except the ones that are my projects. If you want to
                    download any of them check out <a href="https://github.com/Tepah" style="color: #7C2E4E; text-decoration: underline;">my github</a>!</div>
            </div>
            <div class="col-md-7">
                <div class="right-picture" style="background-image: url(/static/img/about/picture2.jpg)"></div>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <div class="end-page"></div>
{% endblock %}