{% extends "shared/_layout.html" %}
{% block main_content %}

    <h3 class="intro">
        A website to show off my projects and introduce myself.</h3>

    <div class="divider"></div>


    <h2 class="section_title">My Projects</h2>

    {% for i in range(projects|length) %}
        <div class="project_grid">
            <div class="row">
                {% if i%2==0 and i!=projects|length-1 %}
                    <div class="col-lg-6">
                        <div class="empty_block">{{ projects[i].name }}</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="empty_block">{{ projects[i+1].name }}</div>
                    </div>
                {% elif i==projects|length-1 %}
                    <div class="col-lg-6">{{ projects[i].name }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
