{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="mega-card index-mega">
        <div class="intro">
            <h2>A website to show off my projects and introduce myself.</h2>
        </div>
    </div>
    <div class="divider" id="projects"></div>
    <div class="container">
        <h2 class="section_title">My Projects</h2>

        <div class="project_grid">
            {% for i in range(projects|length) %}
                <div class="row">
                    {% if i%2==0 and i!=projects|length-1 %}
                        <div class="col-lg-6">
                            <div>
                                <a href="/project/{{ projects[i].directory }}">
                                    <!--img class="picture-block"
                                         src="static/img/{{ projects[i].directory }}/index_file.jpg"
                                         alt="projects[i].name"-->
                                    <div class="picture-block" style="background-image: url(/static/img/{{ projects[i].directory }}/index_file.jpg)">
                                        <h3>{{ projects[i].name }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <a href="/project/{{ projects[i+1].directory }}">
                                    <!--img class="picture-block"
                                         src="static/img/{{ projects[i+1].directory }}/index_file.jpg"
                                         alt="projects[i].name"-->
                                    <div class="picture-block" style="background-image: url(/static/img/{{ projects[i+1].directory }}/index_file.jpg)">
                                        <h3>{{ projects[i+1].name }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% elif i == (projects|length-1) and i%2 != 1 %}
                        <div class="col-lg-6">
                            <div>
                                <a href="/project/{{ projects[i].directory }}">
                                    <div class="picture-block" style="background-image: url(/static/img/{{ projects[i].directory }}/index_file.jpg)">
                                        <h3>{{ projects[i].name }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <div class="end-page"></div>

    </div>


{% endblock %}
