{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="mega-card">
        <h2 class="intro">A website to show off my projects and introduce myself.</h2>
    </div>
    <div class="divider"></div>
    <div class="container">
        <h2 class="section_title" id="projects">My Projects</h2>

        <div class="project_grid">
            {% for i in range(projects|length) %}
                <div class="row">
                    {% if i%2==0 and i!=projects|length-1 %}
                        <div class="col-lg-6">
                            <div class="empty_block">{{ projects[i].name }}</div>
                        </div>
                        <div class="col-lg-6">
                            <div class="empty_block">{{ projects[i+1].name }}</div>
                        </div>
                    {% elif i==projects|length-1 %}
                        <div class="col-lg-6">
                            <div class="empty_block">{{ projects[i].name }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
