/*color pallette
    lavender: #a593f5
    dark blue: #302A55
    maroon: #7C2E4E
    light light purple: #AFB0CD
    alice blue
 */

.title {
    font-weight: bold;
}

.top_bar nav {
    padding-top: 2px;
}

.top_bar nav > a {
    color: #302A55;
    font-size: small;
    margin-right: 5px;
    text-decoration: none;
}

.top_bar nav > a:hover {
    color: white;
}

.top_bar {
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 30px;
    background-color: #a593f5;
    box-shadow: 1px 1px #AFB0CD;
}

.top_bar h1 {
    font-size: 55px;
    color: #302A55;
    cursor: default;
}

.top_bar h1:hover {
    color: white;
}

.main_content {
    padding: 70px 20px 20px 20px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}



body {
    background-color: aliceblue;
}

.intro {
    text-align: center;
    color: grey;
    padding-bottom: 50px;
}

.divider {
    max-width : 90%;
    border: none;
    border-bottom: 5px solid #302A55;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

.section_title {
    padding-top: 50px;
    padding-bottom: 15px;
    color: #7C2E4E;
}

.project_grid {
    margin-left: auto;
    margin-right: auto;
    background-color: #302A55;
}

.col-lg-6 {
    text-align: center;
}