.title {
    font-weight: bold;
}

nav {
    padding-top: 1px;
}

nav > a {
    color: black;
    font-size: small;
}

.top_bar {
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 200px;
    background-color: #a593f5;
}

.top_bar h1 {
    font-size: 55px;
    color: black;
}

.main_content {
    padding: 20px;
}