/*color pallette
    lavender: #a593f5
    dark blue: #302A55
    maroon: #7C2E4E
    light light purple: #AFB0CD
    alice blue
 */

.title {
    font-weight: bold;
}


.main_content {
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}

.mega-card {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: #AFB0CD;
}

.index-mega {
    background-image: url(../img/megas/index-mega.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.intro {
    position: relative;
    padding-top: 50vh;
    padding-bottom: 45vh;
}

.intro h2 {
    text-align: center;
    padding: 20px;
    background: rgba(240, 248, 255, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}


.divider {
    max-width: 80%;
    padding-top: 30px;
    border: none;
    border-bottom: 5px solid #302A55;
    height: 5px;
    margin: 30px auto;
    background-color: #f0f8ff;
}

.section_title {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #7C2E4E;
}

.project_grid {
    padding: 15px 17px;
    margin-left: auto;
    margin-right: auto;
    background-color: #302A55;
    border-radius: 2px;
    border: 2px solid #302A55;
}

a {
    text-decoration: none;
}

/* Makes images in empty square */
.picture-block {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    border: 1px solid black;
    margin: auto;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
    transition-property: top, left, box-shadow, background-color;
}

.picture-block:hover {
    top: -10px;
    left: -10px;
    box-shadow: 5px 8px aliceblue;
    background-color: rgba(240, 248, 255, 0.6);
}

.picture-block:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.picture-block h3 {
    color: #302A55;
    position: absolute;
    width: 100%;
    padding-top: 47%;
    background: rgba(240, 248, 255, 0);
    text-decoration: none;
    opacity: 0;
    transition: all ease 0.5s;
    transition-property: background, opacity;
}

.picture-block h3:hover {
    opacity: 1;
    background: rgba(240, 248, 255, 0.75);
}

.picture-block h3:after {
    content: '';
    display: block;
    padding-bottom: 49%;
}

.col-lg-6 {
    padding: 20px 15px;
    margin: auto;
    text-align: center;
}

/* About page */
.about-mega {
    background-image: url(../img/megas/about-mega.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills {
    padding: 15px 12px;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

.skills-list {
    text-align: center;
    padding: 25px;
}


.skills-list ul{
    list-style-type: none;
}

.skills-list ul>li {
    padding-top: 18px;
    padding-bottom: 18px;
}

/* Error page */
.error-mega {
    background-image: url(../img/megas/error-mega.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}

/* Used in most pages */

.left-display {
    padding-top: 15px;
}

.left-picture {
    position: relative;
    left: -1px;
    height: 50vh;
    padding: 1rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-text {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    top: 45%;
    left: -20%;
    word-wrap: break-word;
    padding-bottom: 2rem;
}

.right-display {
    padding-top: 15px;
}

.right-picture {
    position: relative;
    right: -1px;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-text {
    position: relative;
    text-align: center;
    margin-left: 48%;
    margin-top: -5%;
    margin-bottom: 10%;
    top: 44%;
    width: 50%;
    word-wrap: break-word;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.end-page {
    width: 100%;
    padding: 20px 0;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: #a593f5;
}