/*color pallette
    lavender: #a593f5
    dark blue: #302A55
    maroon: #7C2E4E
    light light purple: #AFB0CD
    alice blue
 */

.title {
    font-weight: bold;
}


.main_content {
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}

.mega-card {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: #AFB0CD;
}

.index-mega {
    background-image: url(../img/bantersnaps-3mWxKnqET3E-unsplash.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: relative;
    padding-top: 50vh;
    padding-bottom: 45vh;
}

.intro h2 {
    text-align: center;
    padding: 20px;
    background: rgba(240, 248, 255, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}


.divider {
    max-width: 80%;
    padding-top: 30px;
    border: none;
    border-bottom: 5px solid #302A55;
    height: 5px;
    margin: 30px auto;
    background-color: #f0f8ff;
}

.section_title {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #7C2E4E;
}

.project_grid {
    padding: 15px 17px;
    margin-left: auto;
    margin-right: auto;
    background-color: #302A55;
    border-radius: 2px;
    border: 2px solid #302A55;
}


/* Makes images in empty square */
.picture-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
    position: relative;
    max-width: 95%;
    border: 1px solid black;
    margin: auto;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
    transition-property: top, left, box-shadow, background-color;
}

.picture-block:hover {
    top: -10px;
    left: -10px;
    box-shadow: 5px 8px aliceblue;
    background-color: rgba(240, 248, 255, 0);
}

.picture-block:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

/*.hover-overlay {
    position: absolute;
    top: 0;
    width: 95%;
    height: 95%;
    transition: background ease 0.5s;
    margin: auto;
}

.hover-overlay:hover {
    background: rgba(240, 248, 255, 0.3);
}

.hover-overlay:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}*/

.col-lg-6 {
    padding: 40px 10px;
    margin: auto;
    text-align: center;
}

.end-page {
    width: 100%;
    padding: 20px 0;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: #a593f5;
}